<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="assets/images/HCL.png"  width="50" height="50"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="nav-item nav-link active" >Home</a>
          <a class="nav-item nav-link" routerLink="/register" routerLinkActive="nav-item nav-link active">
            Register</a>
          <a class="nav-item nav-link" routerLink="/employeeList" routerLinkActive="nav-item nav-link active" >EmployeeList</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <h2>HCL TECHNOLOGIES</h2>
      <p>Employees Profile</p>
      </div>
      <div class="col-3 mx-auto">
    </div>
    <h1 style="text-align: center">Welcome to HCL Technologies</h1>
    <p style="text-align: center">The HCL employees can register in this website</p>

    <p>Pink Lemonade is a global full-service, Integrated Marketing & Communications agency headquartered in 
      India. We have worked with 100s of brands and have years of expertise and capabilities to deliver services 
      in the areas of Content, Design, Web, Video, and Digital Marketing.
    </p>
    <p>
      Join us for a cup of coffee or we could exchange ideas over a glass of chilled Pink Lemonade. 
      Guaranteed, when you work with Pink Lemonade, you are working with some of the best in the business.
    </p>
      
   
      <!-- Footer -->
      <footer class="panel-footer panel-custom">
    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a routerLink="/register" routerLinkActive="nav-item nav-link active" class="whiteF">Sign up!</a>
        </li>
      </ul>
    <div class="footer-copyright text-center py-3">Our Official website: 
      <a href="www.hcl.com">www.hcl.com</a>
    </div>
  </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    
    </div>
    
    
    
    
  
   

