<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="assets/images/HCL.png"  width="50" height="50"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="nav-item nav-link active" >Home</a>
          <a class="nav-item nav-link" routerLink="/register" routerLinkActive="nav-item nav-link active">Register</a>
          <a class="nav-item nav-link" routerLink="/employeeList" routerLinkActive="nav-item nav-link active" >EmployeeList</a>
        </div>
      </div>
    </nav>
<div class="jumbotron">
    <h2>Registration Form</h2>
    <p>You can register here.....</p>
    </div>
<div class="row">
  <div class="col-md-5">
  <form [formGroup]="registrationForm" >

    <div class="form-group">
      <label>Name</label>
      <input [class.is-invalid]="registrationForm.get('name').invalid && 
      registrationForm.get('name').touched" formControlName="name" type="text" class="form-control">
      <small [class.d-none]="registrationForm.get('name').valid || 
      registrationForm.get('name').untouched" class="text-danger">Name is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input [class.is-invalid]="registrationForm.get('email').invalid && 
      registrationForm.get('email').touched"formControlName="email" type="email" class="form-control">
      <small [class.d-none]="registrationForm.get('email').valid || 
      registrationForm.get('email').untouched" class="text-danger">Email is required</small>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input [class.is-invalid]="registrationForm.get('phone').invalid && 
      registrationForm.get('phone').touched" formControlName="phone" type="tel" class="form-control">
      <small [class.d-none]="registrationForm.get('phone').valid || 
      registrationForm.get('phone').untouched" class="text-danger">Phone number is required</small>
    </div>
  
    <button (click)="OnPressEnter(registrationForm.value)" class="btn btn-primary" [disabled]="!registrationForm.valid" 
    type="submit">Submit</button>
     
  </form>
</div>

  </div>
  <h3 *ngIf = "isAdded" >{{confirmationString}}</h3>
    </div>



